<h1>New Game</h1>

<ul >
  <% @letters.each do |letter| %>
  <li class="inline-list"><%= letter.capitalize %></li>
   <% end %>
</ul>

<form method="POST" action="/score" class="form">
  <p>What is the longest Word you can make with these letters?</p>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="word" placeholder="Word">
  <input type="submit">
</form>
